<%- include ./partials/header %>
    
    <div class="container">
        <div class="jumbotron">
            <h1>Tutoring Center App</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, dicta, obcaecati vitae aspernatur voluptatibus sint voluptate magnam necessitatibus aut magni doloremque enim nulla excepturi nesciunt commodi dolorem illum iure quos?
            </p>
        </div>
    </div>
    
<%- include ./partials/footer %>